body{
    width: 750px;
    /* background-color: aquamarine; */
    border: 5px ridge rgb(102, 47, 47);
    background-color: rgba(3, 120, 141, 0.6);
 }
.container{
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    background-color: gold;
    border-radius: 40px;
}
.item{
    color: rgb(246, 245, 240);
    font-size: 55px;
    text-align: center;
    background-color: rgb(253, 177, 0);
    border-radius: 20px;
}
.items-1{
   grid-column: 2/5;
}
.items-2{
    grid-row: 1/6;
}
.items-3{
    grid-row: 1/6;
    grid-column: 5/6;
}
.items-4{
    grid-row: 5/6;
    grid-column: 2/5;
}